{{!< default}}{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! header section }}
<header id="artee-site-head" class="artee-site-head">
    <div class="artee-blog-title">
        {{! header partial partials/head.hbs}}
        {{> head}}
        {{! menu partial import partials/menu.hbs}}
        <div class="artee-blog-menu">
            {{> menu}}
        </div>
    </div>
</header>
{{! header section end }}

{{! main tags section }}
<main class="artee-post-container" role="main">

    <article class="{{post_class}} artee-post row">

        <header class="artee-tag-archive-header">
            <div class="row">
                <h1>All posts tagged in: '{{tag.name}}'</h1>
            </div>
        </header>

        {{#foreach posts}}

        <section class="artee-post-head small-12 columns">
            <time datetime="{{date format="YYYY-MM-DD"}}">
                <span class="date">
                    <span class="mounth">{{date format='MMM'}}</span>
                    <span class="day">{{date format='DD'}}</span>
                </span>
            </time>
            <h1 class="artee-post-title"><a href="{{url}}">{{title}}</a></h1>
        </section>

        <section class="artee-post-content small-12 columns">
            <div>{{content words="60"}}</div>
            {{#if author}}
                <div class="artee-tags-author left">
                    <img src="{{author.image}}" class="artee-index-author-image" alt="{{author.name}}"> {{author}}
                </div>
            {{/if}}
            <div class="artee-read-more text-right right"><a href="{{url}}">read more</a></div>
        </section>

        {{/foreach}}

    </article>

    {{pagination}}

</main>
{{! main tags section end}}